!!!
%html
  %head
    %title= "Loccasions: #{content_for?(:title) ? content_for(:title) : 'Home' }"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    #sign_in.sixteen.columns
      %a(href= new_user_session_path) Sign In
    = yield
